$tableDivider: 1fr 10fr 8fr;
$tableClass: 'num countr confirm';


.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 1000px;
}

.main .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: auto;
  width: auto;
  div {
    display: flex;
    align-items: center;
    img {
      height: 100px;
      width: 100px;
    }
  }
}

.main .table {
  .title {
    display: grid;
    grid-template-areas: $tableClass;
    grid-template-columns: $tableDivider;

    justify-items: start;
    margin-bottom: 10px;
    padding-left: 20px;

    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 7px;

    border-left: 2px solid white;

    .numb {
      grid-area: num;
      display: grid;
      padding: 10px;
    }
    .countr {
      padding: 10px;
      border-left: 2px solid white;
      grid-area: countr;
    }
    .confirm {
      padding: 10px;
      border-left: 2px solid white;
      grid-area: confirm;
    }
  }
}
.column {
  display: grid;
  grid-template-areas: $tableClass;
  grid-template-columns: $tableDivider;
  padding-left: 20px;
  justify-items: start;

  margin-bottom: 5px;
  border-radius: 7px;

  border: 2px outset darkgrey;
  .numb {
    padding: 10px;
    grid-area: num;
  }
  .countr {
    padding: 10px;
    grid-area: countr;
    border-left: 2px solid gray;
  }
  .confirm {
    padding: 10px;
    grid-area: confirm;
    border-left: 2px solid gray;
  }
}

.main .popGeneral
{
  
 position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
   
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
  align-items: center;

  .popWindow{
    display: flex;
    justify-content: start;
  align-items: center;
  flex-direction: column;

   margin:40px auto 0px auto;
    width:300px;
    height: auto;
    padding:10px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    div{
      padding-bottom: 7px;
      padding-left: 7px;
      
      align-self: flex-start;
    }

    button
    {
      margin-top: 10px;
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 7px;
    }
    button:hover{
      background-color: black;
      color: white;
    }
  }

}